node_modules/

.env
.env.*
!.env.sample

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pids/
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
dist/
build/
.cache/
coverage/
dump/
*.pm2
uploads/
.sentryclirc
